.loader_db {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}
.loader_db:before,
.loader_db:after {
    content: "";
    width: 25px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 3px inset #313131;
    animation: l5 1.5s infinite;
}
.loader_db:after {
    --s: -1;
}
@keyframes l5 {
    0% {
        transform: scaleX(var(--s, 1)) translate(0) scale(1);
    }
    33% {
        transform: scaleX(var(--s, 1)) translate(calc(50% + 2.5px)) scale(1);
    }
    66% {
        transform: scaleX(var(--s, 1)) translate(calc(50% + 2.5px)) scale(2);
    }
    100% {
        transform: scaleX(var(--s, 1)) translate(0) scale(1);
    }
}